/*
 * Copyright (c) 2020 duckyb
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        qw {
            bindings = <&kp EXCL>;
            key-positions = <0 1>;
        };

        we {
            bindings = <&kp AT>;
            key-positions = <1 2>;
        };

        er {
            bindings = <&kp HASH>;
            key-positions = <2 3>;
        };

        as {
            bindings = <&kp DOLLAR>;
            key-positions = <10 11>;
        };

        sd {
            bindings = <&kp PERCENT>;
            key-positions = <11 12>;
        };

        df {
            bindings = <&kp CARET>;
            key-positions = <12 13>;
        };

        zx {
            bindings = <&kp AMPERSAND>;
            key-positions = <20 21>;
        };

        xc {
            bindings = <&kp ASTERISK>;
            key-positions = <21 22>;
        };

        cv {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <22 23>;
        };

        vb {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <23 24>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "Base";
            bindings = <
&kp Q  &kp W  &kp E  &kp R      &kp T    &kp Y      &kp U          &kp I      &kp O       &kp P
&kp A  &kp S  &kp D  &kp F      &kp G    &kp H      &kp J          &kp K      &kp L       &kp SEMICOLON
&kp Z  &kp X  &kp C  &kp V      &kp B    &kp N      &kp M          &kp COMMA  &kp PERIOD  &kp SLASH
                     &kp SPACE  &kp TAB  &kp ENTER  &kp BACKSPACE
            >;
        };

        layer_1 {
            bindings = <
&trans  &kp HOME  &kp UP    &kp END    &kp PAGE_UP    &trans  &trans  &trans  &trans  &trans
&trans  &kp LEFT  &kp DOWN  &kp RIGHT  &kp PAGE_DOWN  &trans  &trans  &trans  &trans  &trans
&trans  &trans    &trans    &trans     &trans         &trans  &trans  &trans  &trans  &trans
                            &trans     &trans         &trans  &trans
            >;
        };

        layer_2 {
            bindings = <
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0
&kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &trans        &trans        &trans        &trans        &trans        &trans        &trans
&kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0  &trans        &trans        &trans        &trans        &trans        &trans
                                          &trans        &trans        &trans        &trans
            >;
        };

        layer_3 {
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10
&kp F4  &kp F5  &kp F6  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&kp F7  &kp F8  &kp F9  &kp F10 &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans  &trans
            >;
        };
    };
};
