/*
 * Copyright (c) 2020 duckyb
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/keys.h>

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			label = "Base";
			bindings = <
				&kp Q &kp W &kp E &kp R &kp T      &kp Y &kp U &kp I &kp O &kp P
				&kp A &kp S &kp D &kp F &kp G      &kp H &kp J &kp K &kp L &none
				&kp Z &kp X &kp C &kp V &kp B      &kp N &kp M &none &none &none
				               &none &none      &none &none
			>;
		};
	};
};
